:root {
  /*
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #282936;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* primereact tables don't want to take full height without this */
.h-full .p-datatable-wrapper {
  height: 100%
}

.p-selectbutton.p-buttonset.p-component {
  font-size: 1em;
}
.p-selectbutton .p-button {
  font-size: 1em;
}

.compact .p-button.p-component {
  padding: 10px 10px;
}
.less-compact .p-button.p-component {
  padding: 10px 14px;
}

.p-0 a.p-tabview-nav-link {
  padding-left: 1.0em;
  padding-right: 1.0em;
/*  padding: 1.2em 2em;*/
}

.p-paginator.p-component {
  padding: 0;
  font-size: 1em;
  justify-content: space-around;
}

.p-paginator.p-component .p-link {
  font-size: 1em;
}

.p-paginator .p-paginator-pages .p-paginator-page ,
.p-paginator .p-paginator-prev.p-paginator-element ,
.p-paginator .p-paginator-next.p-paginator-element ,
.p-paginator .p-paginator-first.p-paginator-element ,
.p-paginator .p-paginator-last.p-paginator-element {
  margin: 1em 0.125em;
  max-width: 3rem;
  max-height: 3rem;

  min-width: unset;
  width: 9vw;
  height: 9vw;

}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight) .p-menuitem-link.no-highlight ,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link.no-highlight {
  border-color: #3e4053;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
